body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 40px;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.logo{
   margin: 10px;
   padding: auto;
}
h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #B19988;
    background-color: hsla(28, 26%, 59%, 0.5);
    border-radius: 3px;
    border-radius: 20px; 
    margin-top: 5px;
}

button {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #7E5538;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    margin-top: 5px;
}

p{
    text-align: center;
    color: #010101;
}
.google-signup {
    text-align: center;
    margin-top: 20px;
}
.google-signup a {
    display: inline-flex;
    color: #000000;
    text-decoration: none;
    align-items: center;
}

#google-link:hover {
    text-decoration: underline;
}
.error {
    color: red;
}

input.error {
    border: 1px solid red;
}